@import "../base/global.css";

.footerContainerStyle {
  display: flex;
  margin-top: auto;
  overflow: hidden;
  position: relative;
}
.footerImageStyle{
  width: 100%;
  height: auto; 
  display: block;
  margin: auto;
}
@media screen and (max-width: 576px) {
  .footerImageStyle {
    height: 120px;
    width: auto;
    /* centering oversized image horizontally: */
    margin-left: 50%;
    transform: translateX(-50%);
  }
}