@import "../base/global.css";

.navBarStyle {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1.5em;
  border-bottom: 8px solid var(--color-bg-dark);
  background-color: var(--color-bg);
  position: sticky;
  z-index: 100;
  top: 0px;
}
.logoStyle {
  width: 90px;
  height: auto;
}
.dropDownMenuStyle {
  background-color: var(--color-bg-light);
}
@media screen and (max-width: 576px) {
  .logoStyle {
    width: 60px;
  }
}