@import "../base/global.css";

.navBarStyle {
  width: calc(100% + 14px);
  margin: 0 0 10px -7px;
  padding: 0;
  font-size: 26px;
  border-bottom: 1px solid var(--color-bg-dark);
  background: linear-gradient(to right, var(--color-bg-shade),  var(--color-bg), var(--color-bg-shade));
  position: sticky;
  z-index: 100;
  top: 0px;
}
.logoStyle {
  width: 90px;
  height: auto;
}
.dropDownMenuStyle {
  background-color: var(--color-bg-light);
}
@media screen and (max-width: 992px) {
  .navBarStyle  {
    font-size: 20px;
  }
  .logoStyle {
    width: 80px;
  }
}
@media screen and (max-width: 768px) {
  .logoStyle {
    width: 70px;
  }
}
@media screen and (max-width: 576px) {
  .logoStyle {
    width: 60px;
  }
}