@import "../base/global.css";

.header-style{
  font-size: 1.6em;
  margin-top: -20px;
}
.logoStyle {
  width: 110px;
  height: auto;
}
@media screen and (max-width: 576px) {
  .logoStyle {
    width: 80px;
  }
}