@import "../base/global.css";

.modalHeaderStyle{
  background-color: var(--color-dark);
  border: none;
  color: var(--text-light);
  font-size: 22px;
  border-bottom: 1px solid var(--color-light);
  padding: 8px 12px;
}
.modalTitleStyle{
  font-size: 24px;
  margin-inline-start: auto;
  
}
.modalBodyStyle {
  padding: 6px 0;
  background-color: var(--color-dark);
  color: var(--text-light);
}
.fsImgStyle {
  max-width: 100%;
}
.buttonContainerStyle {
  /*  inline-block to make the div size of contents */
  display: inline-block;
  /* Horizontally center an inline-block element without needing to modify its parent's style */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.buttonStyle {
  background-color: transparent;
  border: none;
}
.iconStyle {
  width: 30px;
  height: 30px;
}
.captionContainerStyle {
  position: absolute;
  bottom: 0px;
  padding: 0 16px;
  margin: auto;
  background-color: rgba(20,25,30,0.4);
}
@media screen and (max-width: 576px) {
  .captionContainerStyle {
    padding: 8px;
  }
}
