@import "../base/global.css";

.carouselItemStyle{
  height: 550px;
}
.carouselImgStyle {
  display: block;
  margin: auto;
  max-width: calc(100% - 10px);
  max-height: 500px;
  box-shadow: 2px 2px 2px black;
}
.carouselCaptionStyle {
  max-width: 500px;
  margin: auto;
  font-family: "Inter Extra Light";
  padding: 10px 6px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 0px 6px var(--color-bg);
  background-color: var(--color-bg-dark);
}
.carouselCaptionTextStyle {
  margin: auto;
  color: var(--text-light);
  font-family: "Inter Regular";
}
@media only screen and (max-width: 576px) {
  .carouselItemStyle{
    height: 360px;
  }
}
