@import "../base/global.css";

.cardContainerStyle{
  padding: 10px;
  border-radius: 6px;
  background-color: var(--color-bg-light);
  box-shadow: 0px 0px 4px black;
  margin: 16px 32px;
}
.titleStyle {
  font-size: 28px;
  color: var(--text-dark);
  font-family: "Canterbury";
  text-align: center;
}
.cardImageStyle {
  display: block;
  max-height: 400px;
  max-width: 100%;
  margin: auto;
  box-shadow: 2px 2px 4px black;
  border-radius: 8px;
}
.cardCaptionStyle {
  margin-top: 16px;
}
@media screen and (max-width: 576px) {
  .cardContainerStyle {
    margin: 16px 0;
  }
  .cardImageStyle {
    max-height: 300px;
  }
}
