@import "../base/global.css";

.sliderStyle {
  display: block;
  margin: auto;
  padding: 8px 0 0 0;
  box-shadow: 0px 0px 6px black;
  border-radius: 6px;
  background-color: var(--color-bg-light);
  max-width: 992px;
}
.titleStyle {
  font-size: 28px;
  color: var(--text-dark);
  font-family: "Inter Light Italic";
  text-align: center;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 0 4px -28px 4px;
}
.buttonStyle {
  height: 100%;
  width: auto;
  padding: 0;
  bottom: 0;
  background-color: transparent;
  border: none;
  z-index: 99;
}
.arrowStyle {
  height: 100%;
  width: auto;
  opacity: 0.8;
}
.arrowStyle:hover, .arrowStyle:focus {
  opacity: 1.0;
}
.sliderImgStyle {
  display: block;
  margin: auto;
  padding: 0 1px;
  max-width: 100%;
  max-height: 500px;
}
.sliderCaptionStyle {
  max-width: 760px;
  margin: auto;
  padding: 6px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .titleStyle {
    font-size: 22px;
  }
}

