@import "../base/global.css";

.modalHeaderStyle{
  background-color: var(--color-bg-dark);
  border: none;
}
.modalTitleStyle{
  font-size: 1.4em;
  margin-inline-start: auto;
  color: var(--text-light);
}
.modalBodyStyle {
  padding: 20px 10px 0 5px;
  background-color: var(--color-bg-dark);
}
.fullScreenImageWrapperStyle {
  display: block;
  margin: auto;
}
.fullScreenImageStyle {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
.captionContainerStyle {
  padding: 20px 10px 10px 10px;
  max-width: 1200px;
  margin: auto;
}
.captionTextStyle {
  color: var(--text-light);
  font-size: 1em;
}
.ccStyle {
 color: var(--text-light);
 font-size: 0.8em; 
 font-family: "Inter Light Italic";
}

