@import "../base/global.css";

.fullScreen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.containerStyle {
  padding: 0 7px;
  background-color: var(--color-bg);
}
.pageTitleStyle {
  font-size: 56px;
  line-height: 1;
  color: black;
  font-family: "Canterbury", serif;
  font-optical-sizing: auto;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  margin: -8px 0;
  padding: 8px 0;
}
.titleStyle {
  background-color: var(--color-bg-dark);
  color: var(--color-bg-light);
  text-align: center;
  font-family: "Canterbury";
  font-size: 58px;
}
.ornamentStyle {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
}
.pageUpStyle {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
  padding: 4px;
}
.upArrowStyle {
  width: 100%;
  height: auto;
  opacity: 0.8;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
}
.upArrowStyle:hover {
  opacity: 1.0;
}
.upArrowStyle:active {
  filter: none;
}
.horizontalRule {
  height: 2px;
  margin: 16px 0;
  background-image: linear-gradient(to right, var(--color-bg),  var(--color-bg-dark), var(--color-bg));
}
.contactFieldStyle {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  background-color: black;
  padding: 0 6px 6px 6px;
}
.contactFieldStyle span {
  font-family: "Canterbury";
  color: var(--text-light);
  align-self: flex-end;
  opacity: 0.8;
  font-size: 16px;
}
.logoStyle {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 768px) {
  .pageTitleStyle {
    font-size: 40px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
  }
}
@media screen and (max-width: 576px) {
  .titleStyle {
    font-size: 30px;
  }
  .pageTitleStyle {
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  }
}


