@import "../base/global.css";

.fullScreen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.containerStyle {
  padding: 2px 25px 0 15px;
}
.pageTitleStyle {
  font-size: 3em;
  color: var(--text-dark);
  font-family: "Inter Extra Light";
  margin: 40px 0;
}
.topStyle {
  background-color: var(--color-bg-dark);
}
.titleSvgStyle {
  display: block;
  margin: auto;
  width: 55%;
  min-width: 300px;
}
.upArrowStyle {
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
  padding: 1em 0;
  opacity: 0.8;
}
.upArrowStyle:hover {
  opacity: 1.0;
}
@media screen and (max-width: 576px) {
  .pageTitleStyle {
    font-size: 2em;
    margin: 30px 0;
  }
}


