@import "../base/global.css";

.buttonStyle {
  border: none;
  background-color: var(--color-bg);
  display: block;
  margin: 8px auto;
  padding: 10px 10px 6px 10px;
  box-shadow: 2px 2px 4px black;
  border-radius: 8px;
}
.buttonStyle:active {
  box-shadow: -1px -1px 2px black;
}
.buttonTextStyle {
  font-weight: bold;
  text-decoration: none;
}
.buttonTextStyle:hover {
  text-decoration: underline;
}