.rowStyle {
  display: grid;
  grid-template-columns: 1fr 16px 80px 60px;
  grid-template-rows: 50px auto;
  margin: 0 20px 0 40px;
}
.eventStyle, .eventYearStyle {
  display: flex;
  height: 100%;
  align-items: center;
}
.eventStyle {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}
.eventYearStyle {
  padding: 0;
  justify-content: center;
}
.buttonStyle {
  background: transparent;
  border-width: 0;
  padding: 0 0 0 10px;
  border-radius: 50%;
}
.buttonStyle:hover {
  rotate: 45deg;
  background: transparent;
}
.ccStyle{
  margin: 12px auto;
  font-size: 12px;
  text-align: center;
  font-family: "Inter Italic";
}
.modalHeaderStyle{
  background-color: var(--color-bg-dark);
  border: none;
  border-radius: 0;
}
.modalTitleStyle{
  font-size: 1.4em;
  margin-inline-start: auto;
  color: var(--text-light);
}
.modalBodyStyle {
  padding: 20px 10px 0 10px;
  background-color: var(--color-bg);
}
@media screen and (max-width: 768px) {
  .rowStyle {
    margin: 0;
  }
  .eventStyle {
    font-size: 16px;
  }
}