@font-face {
  font-family: "Inter Extra Light";
  font-display: swap;
  font-style: normal;
  src: url(../../fonts/Inter-ExtraLight.woff2) format("woff2");
}
@font-face {
  font-family: "Inter Regular";
  font-display: swap;
  font-style: normal;
  src: url(../../fonts/Inter-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Inter Italic";
  font-display: swap;
  font-style: normal;
  src: url(../../fonts/Inter-Italic.woff2) format("woff2");
}
@font-face {
  font-family: "Inter Light Italic";
  font-display: swap;
  font-style: normal;
  src: url(../../fonts/Inter-LightItalic.woff2) format("woff2");
}
/* Constants
----------------------------------------------------------------------------------------------------- */
 :root {
  --text-dark: #000;
  --text-light: #fafafa;
  --color-dark: #14191e;
  --color-shade: #444a4d;
  --color-light: #fafafa;
  --color-bg: #F9E2B1;
  --color-bg-dark: #2D2921;
}
/* Page styling
----------------------------------------------------------------------------------------------------- */
body {
  font-family: "Inter Regular", sans-serif;
  background-color: var(--color-bg);
  color: var(--text-dark);
}
h1 {
  font-size: 2.5em;
  text-align: center;
  margin: 1em 0 0 0;
}
h2 {
  font-size: 2em;
  text-align: center;
  margin: 1em 0 0.5em 0;
}
h3 {
  font-size: 1.5em;
  text-align: center;
  margin: 1em 0 0.5em 0;
}
h4 {
  font-size: 1.2em;
  text-align: center;
  margin: 1em 0 0 0;
}
p {
  font-size: 1em;
}
/* Common styles
----------------------------------------------------------------------------------------------------- */
.flexWrapper {
  display: flex;
  width: 100%;
}
.shadowed {
  box-shadow: 2px 2px 4px black;
}
.italicSmallStyle {
  font-family: "Inter Light Italic";
  font-size: 0.8em;
}
.firstLetterStyle::first-letter {
  initial-letter: 2;
  padding-right: 4px;
}



