@font-face {
  font-family: "Special Elite";
  src: url(/fonts/SpecialElite-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Canterbury";
  src: url(/fonts/Canterbury-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Constants
----------------------------------------------------------------------------------------------------- */
 :root {
  --text-dark: #000;
  --text-light: #cccccc;
  --color-dark: #14191e;
  --color-light: #eeeeee;
  --color-bg: #F9E2B1;
  --color-bg-shade: #F7D185;
  --color-bg-dark: #2b1700;
  --color-bg-light: #FCEAC7;
}
/* Page styling
----------------------------------------------------------------------------------------------------- */
body {
  font-family: "Special Elite", system-ui;
  background-color: var(--color-bg-shade);
  color: var(--text-dark);
}
h1 {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}
h2 {
  font-size: 1.8rem;
  text-align: center;
  margin: 20px 0;
}
h3 {
  font-size: 1.4rem;
  text-align: center;
  margin: 20px 0;
}
h4 {
  font-size: 1.2rem;
  text-align: center;
  margin: 20px 0 16px 0;
}
h5 {
  font-size: 1rem;
  text-align: center;
  margin: 16px 0 8px 0;
  letter-spacing: 2px;
  font-weight: 600;
}
article {
  margin: 8px auto;
  max-width: 650px;
  padding: 16px;
  background-color: var(--color-bg-light);
  border-radius: 6px;
  box-shadow: 0px 0px 4px;
  text-align: justify;
}
article p {
  text-indent: 16px;
  margin: 8px 0;
}

/* Text styles
----------------------------------------------------------------------------------------------------- */
.initialCap {
  text-indent: 0;
}
.initialCap::first-letter {
  -webkit-initial-letter: 2;
  initial-letter: 2;
  line-height: 1;
  font-weight: normal;
  padding-right: 4px;
}
.caption {
  font-size: 0.8rem;
  text-align: center;
}
.signature {
  letter-spacing: 2px;
  text-align: center;
  margin-top: 16px;
}
.signatureSmall {
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-align: center;
}
.centered {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.quotation {
  font-style: italic;
}
.quote {
  font-style: italic;
}
.quote::before {
  content: "„"
}
.quote::after {
  content: "”"
}
.hyperlink {
  display: block;
  text-align: left;
  font-size: 12px;
  color: darkblue;
}
.info {
  font-size: 0.8rem;
  padding: 4px;
}
.copyright {
  font-size: 0.7rem;
  text-align: center;
}
.interTitle {
  position: relative;
  margin: 0;
  padding: 8px 0;
  text-align: center;
  font-size: 32px;
  color: var(--text-dark);
  font-family: "Canterbury", serif;
  background-image: url("../../images/divider.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.tocHeader {
  font-size: 1.4rem;
  text-align: center;
  margin: 8px 0; 
}
.accent {
  letter-spacing: 3px;
}
.leftP {
  text-indent: 0;
  text-align: left;
}
.zeroTopMargin {
  margin-top: 0px;
}
.zeroBotMargin {
  margin-bottom: 0px;
}
/* Other styles
----------------------------------------------------------------------------------------------------- */
.maxHeightStyle {
  max-height: 300px;
}
.verticalSpacer {
  height: 16px;
}
.symbol {
  display: block;
  height: 30px;
  margin: 4px auto;
}
.centeredImage {
  display: block;
  max-width: 100%;
  margin: 16px auto;
  box-shadow: 2px 2px 4px black;
  border-radius: 6px;
}
.dividerStyle {
  display: block;
  width: 75%;
  max-width: 700px;
  height: auto;
  margin: 10px auto;
  opacity: 0.8;
}
.zeroMargin {
  margin: 0;
}
/* Layout styles
----------------------------------------------------------------------------------------------------- */
.rowStyle {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 0px auto;
  max-width: 640px;
}
.columnStyle {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}
.columnImgStyle {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  box-shadow: 2px 2px 4px black;
  border-radius: 6px;
}
/* Media Queries
----------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 576px) {
  .interTitle {
    font-size: 26px;
    margin: 8px 0;
  }
  article {
    padding: 10px;
  }
}










