@font-face {
  font-family: "Inter Extra Light";
  font-display: swap;
  font-style: normal;
  src: url(../../fonts/Inter-ExtraLight.woff2) format("woff2");
}
@font-face {
  font-family: "Inter Regular";
  font-display: swap;
  font-style: normal;
  src: url(../../fonts/Inter-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Inter Italic";
  font-display: swap;
  font-style: normal;
  src: url(../../fonts/Inter-Italic.woff2) format("woff2");
}
@font-face {
  font-family: "Inter Light Italic";
  font-display: swap;
  font-style: normal;
  src: url(../../fonts/Inter-LightItalic.woff2) format("woff2");
}
/* Constants
----------------------------------------------------------------------------------------------------- */
 :root {
  --text-dark: #000;
  --text-light: #cccccc;
  --color-dark: #14191e;
  --color-shade: #444a4d;
  --color-light: #eeeeee;
  --color-bg: #F9E2B1;
  --color-bg-dark: #2b1700;
  --color-bg-light: #FCEAC7;
}
/* Page styling
----------------------------------------------------------------------------------------------------- */
body {
  font-family: "Inter Regular", sans-serif;
  background-color: var(--color-bg);
  color: var(--text-dark);
}
h2 {
  font-size: 2em;
  text-align: center;
  margin: 1em 0 0.5em 0;
}
h3 {
  font-size: 1.5em;
  text-align: center;
  margin: 1em 0 0.5em 0;
}
h4 {
  font-size: 1.2em;
  text-align: center;
  margin: 1em 0 0.5em 0;
}

/* Text styles
----------------------------------------------------------------------------------------------------- */
.firstLetterStyle::first-letter {
  initial-letter: 2;
  padding-right: 4px;
}
.imageCaptionStyle {
  margin: 10px 0 0 0;
  font-size: 1.2em;
  color: var(--text-dark);
  font-family: "Inter Light Italic";
  text-align: center;
}
.captionStyle {
  font-family: "Inter Light Italic";
  font-size: 0.8em;
  margin: 0;
  text-align: center;
}
.boldStyle {
  font-weight: bold;
}
.quotationStyle {
  font-family: "Inter Italic";
}
.hyperLinkStyle {
  font-family: "Inter Light Italic";
  font-size: 0.8em;
}
.infoStyle {
  font-family: "Inter Light Italic";
  font-size: 0.8em;
}

/* Other styles
----------------------------------------------------------------------------------------------------- */
.maxHeightStyle {
  max-height: 300px;
}
.marginYStyle {
  margin: 8px auto;
}
.verticalSpacer {
  height: 32px;
}
.symbolStyle {
  display: block;
  width: 40px;
  height: 40px;
  margin: 4px auto;
}
.centeredImageStyle {
  display: block;
  max-width: 100%;
  margin: 16px auto;
  box-shadow: 2px 2px 4px black;
  border-radius: 8px;
}
.horizontalRule {
  height: 2px;
  margin: 16px 0;
  background-image: linear-gradient(to right, var(--color-bg),  var(--color-bg-dark), var(--color-bg));
}






